* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  gap: 1rem;
}

.card {
  border: 1px solid rgb(49, 48, 48);
  border-radius: 8px;
  padding: 1.5rem;
}

.hero {
  grid-column: span 3;
  display: flex;
  align-items: center;
}

.hero-img {
  width: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-description {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.social-links-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.social-links-container i {
  color: black;
  font-size: 2rem;
}

.hero-btn {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* Skills Section */
.skills {
  grid-row: span 2;
}

.skills-list li,
.projects-list li {
  list-style-type: square;
  padding: 0.2rem;
}

.skills-list {
  margin-top: 0.8rem;
}

/* About Section */
.about h2,
.skills h2,
.projects h2 {
  margin-bottom: 0.8rem;
}

.about {
  grid-row: span 2;
}

.about-img {
  height: 200px;
  margin: 2rem 0;
}
