* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  border: 2px solid red;
}

.hero {
  grid-column: span 3;
}
