@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

body {
  margin: 2rem;
  background: black;
  background-image: linear-gradient(rgb(180, 180, 180) 1px, transparent 1px),
    linear-gradient(90deg, rgb(180, 180, 180) 1px, transparent 1px);
  background-size: 50px 50px;
  color: white;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.25rem;
}

ul {
  padding: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  gap: 1rem;
}

.card {
  border: 2px solid whitesmoke;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: rgb(10, 10, 10);
}

.hero {
  grid-column: span 3;
  display: flex;
  align-items: center;
}

.hero-img {
  width: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-description {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.social-links-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.social-links-container i {
  color: black;
  font-size: 2rem;
}

.hero-btn {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* Skills Section */
.skills {
  grid-row: span 2;
}

.skills-description {
  padding: 1rem 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.skills-list li,
.projects-list li {
  padding-left: 1em;
  position: relative;
  margin: 1rem 0;
}

.skills-list li::before,
.projects-list li::before {
  content: "\2714";
  position: absolute;
  left: 0;
  color: green;
  font-weight: bold;
}

/* About Section */

.about {
  grid-row: span 2;
}

.about-img {
  height: 200px;
  margin: 2rem 0;
}

.about-description {
  margin-top: 1rem;
}

/* Projects section */

.projects {
  grid-column: span 2;
}
.projects-list,
.skills-list {
  padding: 0.5rem 2rem;
}
